body {
  max-width: 54em;
  margin: auto;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

small {
  font-size: 0.4em;
  color: #61a381;
}

.pure-form .ng-dirty.ng-invalid {
  background-color: #ff0000;
}

.pure-form .ng-dirty.ng-valid {
  background-color: #00ee00;
}
